*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trench Slab', sans-serif;
}

body, html{
  overflow-x: hidden;
  width: 100vw;
}

.header{
    background: #110e19;
    min-height: 90vh;
    padding: 2rem 4rem;
    position: relative;
}

.header .logo{
    width: 3.2rem;
    transition: 1s;
    animation: roll 2s;
}

@keyframes roll{
  from{
    transform: translateX(-20px);
    opacity: 0;
  }
}

.logo:hover{
    transform: rotate(360deg);
}

.logo img{
    width: 100%;
}

.small{
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(172, 184, 194);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 20px;
}

.jumbotron{
    padding-top: 0vh;
    font-weight: 700;
    font-size: 5rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 15vw;

}

.right{
  animation: load 3s;
}

.left{
  animation: slide 3s;
}

.small{
  animation: slide 3s;
}

@keyframes slide{
  from{
    opacity: 0;
    transform: translateY(30px);
  }
}

@keyframes load{
  from{
    opacity: 0;
    transform: translateY(-30px);
  }
}

.buttons{
    display: flex;
    gap: 2vw;
    margin-top: 5vh;
    animation: slide 3s;
}

.shape{
    max-width: 450px;
    animation: bop 6s infinite;
}

@keyframes bop{
    50%{
        transform: translateY(-30px);
    }
}

.overlay{
    position: absolute;
    top: 20px;
    right: 0;
}

.shape img{
    width: 100%;
}



.buttons a{
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    font-weight: 300;
}





.button {
    background-color: #ffffff00;
    color: #fff;
    width: 8.5em;
    height: 2.9em;
    border: #3654ff 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
  }
  
  .button:hover {
    background-color: #3654ff;
    cursor: pointer;
  }
  
  .button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin: 0 1.5em
  }

  

 .links button {
    position: relative;
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;

    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
  }
  
 .links button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
 .links button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
 .links button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
 .links button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }



  .links .button {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(161, 255, 20);
    border-radius: 30px;
    color: rgb(19, 19, 19);
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding-left: 8px;
    transition-duration: .5s;
  }
  
  .links .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .links .bell path {
    fill: rgb(19, 19, 19);
  }
  
  .links .button:hover {
    background-color: rgb(192, 255, 20);
    transition-duration: .5s;
  }
  
  .links .button:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }
  
  .links .button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }


  @media only screen and (max-width: 1236px){
    .jumbotron {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .buttons{
      display: flex;
      align-items: center;
     justify-content: center;
    }
  }

  .custom-shape-divider-bottom-1692527341 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692527341 svg {
    position: relative;
    display: block;
    width: calc(177% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1692527341 .shape-fill {
    fill: #f2f2f2;
}

.skills{
    background: #f2f2f2;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
    position: relative;
    overflow: hidden;

}

.skill-flex{
    display: flex;
    gap: 150px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.skill1{
    width: 50px;
}

.emoji1{
    width: 150px;
    position: absolute;
    left: -30px;
}

.emoji2{
    max-width: 150px;
    position: absolute;
    bottom: -40px;
    left: -40px;
}

.emoji2 img{
    width: 100%;
}

.emoji1 img{
    width: 100%;
    left: -70px;
}

.emoji3{
    max-width: 150px;
    position: absolute;
    bottom: -60px;
}

.emoji3 img{
    width: 100%;
}

.emoji4{
    max-width: 150px;
    position: absolute;
    bottom: -40px;
    right: -30px;
}

.emoji4 img{
    width: 100%;
    
}

.emoji5{
    max-width: 150px;
    position: absolute;
}

.emoji5 img{
    max-width: 100%;
   
    transform: translateY(-200px)
    rotate(-180deg);
}



.skill1 img{
    width: 100%;
    filter: grayscale(100%);
}

.skill1 img:hover{
    filter: none;
}

.skill2{
    width: 50px;
}



.skill2 img{
    width: 200%;
    filter: grayscale(100%);
}

.skill2 img:hover{
    filter: none;
}

.skill3{
    width: 50px;
}



.skill3 img{
    width: 100%;
    margin-left: 20px;
    margin-right: 10px;
    filter: grayscale(100%);
}

.skill3 img:hover{
    filter: none;
}

.skill4{
    width: 50px;
}



.skill4 img{
    width: 100%;
    filter: grayscale(100%);
}

.skill4 img:hover{
    filter: none;
}

.skill5{
    width: 50px;
    
}



.skill5 img{
    width: 200%;
    filter: grayscale(100%);
}

.skill5 img:hover{
    filter: none;
}

.partners{
    min-height: 80vh;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: absolute;
    width: 100%;
}


.card-holder{
    display: flex;
    gap: 10vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 15vh;

}

.card {
    position: relative;
    width: 250px;
    height: 300px;
    background: rgb(255, 0, 179);
    background: linear-gradient(137deg, rgb(255, 0, 179) 0%, rgb(225, 102, 8) 100%);
    transition: 0.3s ease;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 10px rgba(231, 160, 7, 0.5));
    padding: 10px;
  }
  
  .card::after {
    content: '';
    background-color: #181818;
    position: absolute;
    transition: 0.3s ease;
    height: 98%;
    width: 98%;
    top: 1%;
    left: 1%;
    border-radius: 8px;
  }
  
  .card:hover {
    filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 1));
  }

  .profile{
    width: 40px;
    height: 40px;
    z-index: 1;
    position: absolute;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 60px;
  }

  .profile img{
    width: 40%;
    border-radius: 999%;
  }


  #button-container {
    position: relative;
    z-index: 2;
    transform: translateY(130px);
  }
  
  .partners .button {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% 50%;
    background: #F4F7F5;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    color: white;
    display: flex;
    padding: 15px;
    justify-content: center;
    transition: 0.3s ease-in;
  }
  
  #share {
    color: #DC0654;
    background: #fbe6ed;
  }
  
  #facebook {
    background: linear-gradient(-160deg, #00D2FF, #3A7BD5);
  }
  
  #instagram {
    background: linear-gradient(135deg, #833AB4, #FD1D1D, #FCB045);
  }
  
  #dribbble {
    background: linear-gradient(-70deg, #D70652, #FF025E);
  }
  
  #github {
    background: linear-gradient(-70deg, #171515, #FF025E);
  }
  
  #youtube {
    background: #FF0000;
  }
  
  #button-container:hover button {
    rotate: 360deg;
  }
  
  #button-container:hover #share {
    rotate: 270deg;
  }
  
  #button-container:hover > #facebook {
    translate: -300% 50%;
  }
  
  #button-container:hover > #instagram {
    translate: -226.78% -126.78%;
  }
  
  #button-container:hover > #dribbble {
    translate: -50% -200%;
  }
  
  #button-container:hover > #github {
    translate: 126.78% -126.78%;
  }
  
  #button-container:hover > #youtube {
    translate: 200% 50%;
  }


  .role{
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 30%;
    color: #b3b0b0;
  }

  .prism1{
    width: 100px;
    position: absolute;
    z-index: 2;
    left: 0;
    animation: bounce1 3s infinite;
  }

  @keyframes bounce1{
    50%{
        transform: translateY(30px);
    }
  }

  .prism1 img{
    width: 100%
  }

  .prism{
    width: 100px;
    position: absolute;
    z-index: 2;
    right: 0;
    animation: bounce 3s infinite;
  }

  @keyframes bounce{
    50%{
        transform: translateY(-30px);
    }
  }

  .prism img{
    width: 100%
  }


  .follow button {
  position: relative;
  padding: 6px 20px;
  background: #E31171;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 1px solid #E31171;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all .3s ease-in-out;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .8s ease;
}

.follow button:hover {
  background: transparent;
  color: #FEC195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #FFFDEF
}

.fa {
  color: #fff;
  cursor: pointer;
}

.menu{
  display: none;
  animation: roll-in 2s;
}

@keyframes roll-in{
  from{
    transform: translateX(20px);
    opacity: 0;
  }
}




@media only screen and (max-width: 780px){
  .menu{
    display: initial;
  }

  .links{
    display: none;
  }

  .jumbotron{
    font-size: 3rem;
    padding-top: 5vh;
  }

  .skill-flex{
    gap: 80px;
    cursor: pointer;
  }
}

.options{
  width: fit-content;
  position: absolute;
  right: 20px;
  top: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.089);
  backdrop-filter: blur(7px);
  border-radius: 5px;
  display: none;

}


.menu i{
  font-size: 30px;
}

.close{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.close i{
  font-size: 20px;
}

.close i:hover{
  color: rgb(222, 64, 6);
}



.input {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: rgba(65, 65, 65, 0.308);
  justify-content: center;
  border-radius: 5px
}

.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.value:not(:active):hover,
.value:focus {
  background-color: #21262C;
}

.value:focus,
.value:active {
  background-color: #1A1F24;
  outline: none;
}

.value::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 5px;
  height: 80%;
  background-color: #2F81F7;
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}

.value svg {
  width: 15px
}

.input:hover > :not(.value:hover) {
  transition: 300ms;
  filter: blur(1px);
  transform: scale(0.95,0.95);
}

.partners .head{
  position: absolute;
  top: 0px;
  font-size: 2rem;
  background: url(./assets/blurry_background.png);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


   


  
  


  
  
  
  